<section class="create_form_container rounded_border medium_text">
  <h2><%= @form_name %></h2>
  <form action="index.html" method="post">
    <label for="agent-name">Name</label>
    <input id="agent-name" type="text" name="name">
    <label for="agent-description">Description</label>
    <textarea id="agent-description" name="description" rows="10"></textarea>
    <label for="agent-logo-url">Logo url</label>
    <input id="agent-logo-url" type="text" name="logo_url">
  </form>
</section>
