<section>
  <p class="medium_text">
    The travel agent <%= @travel_agent.name %> has
    <%= @travel_agent.get_holiday_count() %> associated with them. In order
    to delete this travel agent please select a new travel agent for these
    holidays to be attached to.
  </p>
</section>
<section class="create_form_container">

</section>
