<section id="text_contribute_section">
  <h2>Contribute to the Site</h2>
  <p class="medium_text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum.
  </p>
</section>
<section id="buttons_contribute_section">
  <h3>What you would like to add?</h3>
  <div>
    <p class="orange_border_button"><a href="/travel_agent/new">Travel Agent</a></p>
    <p class="orange_border_button"><a href="/holiday/new">Holiday</a></p>
    <p class="orange_border_button"><a href="/hotel/new">Hotel</a></p>
  </div>
  <div>
    <p class="orange_border_button"><a href="#">City</a></p>
    <p class="orange_border_button"><a href="#">Country</a></p>
  </div>
</section>
