<section class="create_form_container rounded_border medium_text">
  <h2>Edit Holiday</h2>
  <form action="/holiday/<%= @holiday.id %>" method="post">
    <% @edit = true %>
    <%= erb(:"holiday/form_partial") %>
  </form>
</section>
