.create_form_container{
  width: 400px;
  margin: auto;
  padding: 0 40px 40px 40px;
  border: 1px solid #d68c04;
  margin-top: 5%;
}

.create_form_container label{
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
}

.create_form_container input,
.create_form_container textarea,
.create_form_container select{
  font-size: 18px;
  border: 1px solid grey;
}

.create_form_container input[type=text]{
  height: 30px;
}

.create_form_container input[type=text],
.create_form_container input[type=submit],
.create_form_container textarea{
  width: 100%;
}

.create_form_container input:focus,
.create_form_container textarea:focus,
.create_form_container select:focus{
  outline: none;
  border: 1px solid #d68c04;
}

.add_to_form_submit{
  margin-top: 20px;
  padding: 10px;
}
