body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 22px;
}

hr{
  border-color: #d68c04;
}

#main_container{
  margin: auto;
  padding: 0 15px 0 15px;
}

.small_text{
  font-size: 16px;
  line-height: 25px;
  color: #4d4f51;
}

.medium_text{
  font-size: 20px;
  line-height: 25px;
  color: #4d4f51;
}

.page_width{
  max-width: 1000px;
  min-width: 600px;
}

.main_logo{
  width: 75px;
  height: 75px;
}

.rounded_border{
  border-radius: 20px;
}

footer{
  height: 50px;
}

.orange_border_button{
  text-align: center;
  height: 50px;
  border: 1px solid #d68c04;
  border-radius: 20px;
}

.orange_border_button a{
  color: black;
  display: block;
  padding: 15px;
  min-width: 150px;
  text-decoration: none;
}

.star_image{
  width: 30px;
  height: 30px;
}

.alter_options form{
  margin-bottom: 20px;
  display: inline;
}

.clear_submit_button_styles{
  background: none;
  border: none;
}

.alter_links{
  display: inline;
  height: 20px;
  font-size: 15px;
  color: blue;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
