
#show_holidays_main_container{
  display: flex
}

#show_holidays_aside{
  flex: 20;
  height: 200px;
}

#show_holidays_aside ul{
  padding: 0;
}

#show_holidays_aside li{
  margin-bottom: 20px;
}

#show_holidays_aside p{
  padding: 0;
  margin: 0;
}

#show_holidays_section{
  flex: 80;
  margin-left: 15px;
  border-left: 1px solid #d68c04;
  padding-left: 10px;
  min-width: 650px;
}

#show_holidays_section h2, #show_holidays_section h3{
  text-align: center;
}

#show_holidays_section section{
  display: flex;
  margin-bottom: 20px;
}

#show_holidays_section div{
  flex: 1;
  text-align: center;
}

#show_holiday_hotel_img{
  width: 95%;
}

#show_holidy_agent_logo{
  width: 40px;
  height: 40px;
}
