#view_hotels_main_container{
  display: flex
}

#view_hotels_aside{
  flex: 20;
  height: 200px;
  background: blue;
}

#view_hotels_section{
  flex: 80;
  margin-left: 15px;
}

#view_hotels_section h2 img{
  width: 30px;
  height: 30px;
}

#view_hotels_section article{
clear: right;
}

#view_hotels_section img{
  width: 300px;
  height: 300px;
  float: right;
  border-radius: 20px;
  margin: 0 0 20px 20px;
}

#view_hotels_section hr{
  clear: both;
}

.show_holiday_link{
  text-align: right;
  clear: both;
}
