#view_hotels_section article{
clear: right;
}

#view_hotels_section p img{
  width: 300px;
  height: 300px;
  float: right;
  margin: 0 0 20px 20px;
}

#view_hotels_section hr{
  clear: both;
}

.show_holiday_link{
  text-align: right;
  clear: both;
}

.view_hotel_star_img{
  float: right;
}
