#view_holidays_main_container{
  display: flex
}

#view_holidays_aside{
  flex: 20;
  height: 200px;
}

#view_holidays_aside label{
  display: block;
}

#view_holidays_section{
  flex: 80;
  margin-left: 15px;
  border-left: 1px solid #d68c04;
  padding-left: 10px;
  min-width: 650px;
}

#view_holidays_section section{
  display: flex;
  margin-bottom: 20px;
}

#view_holidays_section div{
  flex: 1;
  text-align: center;
}

#view_holidays_section img{
  width: 95%;
}

#view_holidays_section section h2{
  margin: 0;
}

#view_holidays_section section h3{
  margin-top: 5px;
}
