#view_deals_section section{
  display: flex;
  margin-bottom: 20px;
}

#view_deals_section div{
  flex: 1;
  text-align: center;
}

#view_deals_section img{
  width: 95%;
}

#view_deals_section section h2{
  margin: 0;
}

#view_deals_section section h3{
  margin-top: 5px;
}

.orange_text{
  color: #d68c04;
}
