<header>
  <div>
    <h2>About WikiTravel</h2>
    <p>Im telling you about it right now</p>
  </div>
  <div>
    <img src="/images/air_craft.jpg" alt="A Picture of a plane flying into the sun">
  </div>
</header>
