<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Holiday Tracker</title>
  </head>
  <body>
    <nav>
      <div>
        <h1>Wiki Travel</h1>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Holidays</a></li>
        <li><a href="#">Cities</a></li>
        <li><a href="#">Countries</a></li>
        <li><a href="#">Travel Agents</a></li>
        <li><a href="#">Add To Site</a></li>
      </ul>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
