<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <title>Holiday Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/styles/master.css" type="text/css">
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css">
    <link rel="stylesheet" href="/styles/home_header.css" type="text/css">
    <link rel="stylesheet" href="/styles/view_travel_agent.css" type="text/css">
    <link rel="stylesheet" href="/styles/show_travel_agent.css" type="text/css">
    <link rel="stylesheet" href="/styles/view_hotel.css" type="text/css">
    <link rel="stylesheet" href="/styles/show_hotel.css" type="text/css">
    <link rel="stylesheet" href="/styles/view_holidays.css" type="text/css">
    <link rel="stylesheet" href="/styles/show_holiday.css" type="text/css">
    <link rel="stylesheet" href="/styles/view_deals.css" type="text/css">
    <link rel="stylesheet" href="/styles/add_to_page.css" type="text/css">
    <link rel="stylesheet" href="/styles/create_form.css" type="text/css">
    <link rel="stylesheet" href="/styles/aside_layout.css" type="text/css">
    <link rel="stylesheet" href="/styles/pre_delete_show.css" type="text/css">
  </head>
  <body>
    <nav>
      <div class="page_width">
        <img class="main_logo" src="/images/icon.png" alt="Wiki travel logo">
        <h1>Wiki Holiday</h1>
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/deal">Deals</a></li>
          <li><a href="/holiday">Holidays</a></li>
          <li><a href="/hotel">Hotels</a></li>
          <li><a href="#">Cities</a></li>
          <li><a href="#">Countries</a></li>
          <li><a href="/travel_agent">Travel Agents</a></li>
          <li><a href="/add_to_page">Add To Site</a></li>
        </ul>
      </div>
      <hr>
    </nav>
    <div id="main_container" class="page_width">
      <%= yield %>
    </div>
    <footer>

    </footer>
  </body>
</html>
