<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Holiday Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/styles/master.css" type="text/css">
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css">
    <link rel="stylesheet" href="/styles/home_header.css" type="text/css">
    <link rel="stylesheet" href="/styles/view_travel_agent.css" type="text/css">
  </head>
  <body>
    <nav>
      <div class="page_width">
        <img class="main_logo" src="/images/icon.png" alt="Wiki travel logo">
        <h1>Wiki Holiday</h1>
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Holidays</a></li>
          <li><a href="#">Cities</a></li>
          <li><a href="#">Countries</a></li>
          <li><a href="/travel_agent">Travel Agents</a></li>
          <li><a href="#">Add To Site</a></li>
        </ul>
      </div>
      <hr>
    </nav>
    <div id="main_container" class="page_width">
      <%= yield %>
    </div>
  </body>
</html>
